.spots {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.spots__container {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    font-size: 14px;
    font-weight: bold;
    /* border: 2px solid black; */
}

.spots__prev {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 350px;
    height: 385px;
    padding: 8px;
    /* border: 2px solid black; */
    grid-template-areas:
        "a a a a"
        "a a a a"
        "b b b b"
        "c c c c";
}

.spots-link {
    text-decoration: none;
    color: black;
}

.spots__prev__img {
    grid-area: a;
    box-shadow: 4px 4px 4px rgb(128, 128, 128);
    width: 340px;
    height: 320px;
    display: flex;
    object-fit: cover;
    object-position: center;
    justify-content: center;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.spots__prev__img__div{
    width: 340px;
    height: 320px;
    overflow: hidden;
    border-radius: 8px;
}

.spots__prev:hover>.spots__prev__img__div>.spots__prev__img {
    width: 350px;
    height: 330px;
    filter: brightness(0.8);
}

.spots__prev__locrate {
    grid-area: b;
    display: flex;
    justify-content: space-between;
    padding: 4px 4px 0px 4px;
    font-size: 18px;

}

.spot-card-rating{
    padding-right: 5px;
}

.spots__prev__price {
    grid-area: c;
    padding: 0px 4px;
    /* border: 2px solid black; */
}
