.spots {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.spots__container {
    display: flex;
    flex-wrap: wrap;
    width: 1175px;
    font-size: 14px;
    /* border: 2px solid black; */
}

.spots__prev {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 275px;
    height: 310px;
    padding: 8px;
    /* border: 2px solid black; */
    grid-template-areas:
        "a a a a"
        "a a a a"
        "b b b b"
        "d d d d"
        "c c c c";
}

.spots__prev__img {
    grid-area: a;
    box-shadow: 4px 4px 4px rgb(128, 128, 128);
    border-radius: 8px;
    /* border: 2px solid black; */
    width: 270px;
    height: 250px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.spots__prev__img:hover {
    box-shadow: 6px 6px 6px gray;
}

.spots__prev__locrate {
    grid-area: b;
    display: flex;
    justify-content: space-between;

}

.spots__prev__name{
    grid-area: d;
}

.spots__prev__price {
    grid-area: c;
    /* border: 2px solid black; */
}
