.page-container{
    display: flex;
    justify-content: center;
}

.detail-container{
    /* width: 80%; */
    width: 1500px;
}

.detail-title-div{
    padding: 20px 0;
}

/* image show formatting ----------------- */

.detail__img {
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(4, minmax(350px, 1fr));
    border-radius: 30px;
    overflow: hidden;
    grid-template-areas:
        "a a b b"
        "a a b b";
}

.detail__img__prev {
    grid-area: a;
    width: 99%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    /* padding: 1px 3px; */
}

.detail__img__small {
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding-left: 5px;

}

img[class*="other"] {
    object-fit: cover;
    object-position: center;
    width: 49%;
    height: 49%;
    object-fit: cover;
    object-position: center;
}

.detail__img__other__0{
    padding-right: 12px;
    padding-bottom: 12px;
}

.detail__img__other__1{
    padding-bottom: 12px;
}

.detail__img__other__2{
    padding-right: 12px;
}




/* description formatting ----------------- */

.detail-info {
    display: grid;
    border-bottom: 1px solid var(--global-gray);
    grid-template-rows: 120px repeat(5, 1fr);
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    grid-template-areas:
        "host host host book book"
        "desc desc desc book book"
        "desc desc desc book book"
        "desc desc desc book book"
        "desc desc desc book book"
        "desc desc desc book book";
}

.detail-info-owner {
    grid-area: host;
    display: flex;
    align-items: center;
}

.detail-other-info-container {
    grid-area: desc;
    min-width: 600px;
}

.booking-container{
    grid-area: book;
}
