.detail-container {
    margin: 0 50px
}

/* image show formatting ----------------- */

.detail__img {
    /* border: 2px solid black; */
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(4, minmax(350px, 1fr));
    grid-template-areas:
        "a a b b"
        "a a b b";
}

.detail__img__prev {
    grid-area: a;
    width: 99%;
    object-fit: cover;
    object-position: center;
    height: 99%;
    padding: 1px 3px;
}

.detail__img__small {
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    height: 100%;
    width: 100%
}

img[class*="other"] {
    width: 49%;
    height: 49%;
    object-fit: cover;
    object-position: center;
    padding: 1px 1px;
}

/* description formatting ----------------- */

.detail__info {
    /* border: 2px solid black; */
    display: grid;
    border-bottom: 1px solid var(--global-gray);
    grid-template-rows: repeat(6, 65px);
    grid-template-columns: repeat(5, 20%);
    grid-template-areas:
        "host host host book book"
        "desc desc desc book book"
        "desc desc desc book book"
        "desc desc desc book book"
        "desc desc desc book book"
        "desc desc desc book book";
}

.detail__info__owner {
    grid-area: host;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}

.detail__info__descript {
    grid-area: desc;
    overflow-wrap: break-word;
    /* border: 2px solid black; */
}

