.hidden {
    display: none
}

.nav__container{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}

.nav__bar {
    padding: 30px 10px;
    text-decoration: none;
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 20px);
    grid-template-areas:
        "logo logo none none none none none none none button button button"
        "logo logo none none none none none none none button button button"
        "logo logo none none none none none none none button button button";
}

.nav__buttons {
    grid-area: button;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.nav__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.nav__logo__img {
    width: 70px;
}

.nav__logo__text {
    font-size: 30px;
    color: var(--global-pink);
    font-weight: bold;
    margin-top: 10px;
}

/* profile ----------------------- */

.profile-container {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px 0 0 0px;
}


.profile-dropdown {
    position: relative;
    font-size: 17px;
    padding: 4px 5px 0px 5px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    right: 110px;
    border: 1px solid var(--global-gray);
    z-index: 5;
}

.nav-button-div {
    /* position: relative; */
    display: flex;
    height: 60px;
    width: 100%;
}

.nav-button__spot {
    margin: 7px 5px;
}

.nav-button__spot__btn {
    border: none;
    background-color: white;
    color: var(--global-gray-text);
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.nav-button__spot__btn:hover {
    background-color: var(--global-gray);
}

.profile-button {
    /* position: relative; */
    border: 2px solid var(--global-gray);
    background-color: transparent;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.profile-button:hover{
    box-shadow: 2px 2px 5px var(--global-gray);
}

.user-icon{
    padding: 8px;
    margin-left: 5px;
}

.fa-user{
    border: 1px solid gray;
    background-color: gray;
    width: 20px;
    border-radius: 30px;
    color: white;
}

.profile-username {
    border: none;
    background-color: white;
    text-align: left;
    padding: 10px 10px 0 10px;
}

.profile-email {
    border: none;
    background-color: white;
    text-align: left;
    padding: 10px;
}

.profile-manage-btn {
    /* border-top: 1px solid var(--global-gray); */
    font-size: 17px;
    background-color: white;
    text-align: left;
    padding: 10px;
}

.profile-manage-btn:hover {
    font-weight: bold;
}


.profile-manage-div {
    border-top: 1px solid var(--global-gray);
    border-bottom: 1px solid var(--global-gray);
}

.profile-logout-div {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 3px 0;
}

.profile-logout-btn {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 17px;
    width: 100%;
    color: white;
    padding: 5px;
    background-color: gray;
    text-align: center;
}

.profile-logout-btn:hover {
    font-weight: bold;
}

.modal-buttons {
    background-color: gray;
    color: white;
    width: 70px;
    margin-right: 10px;

    box-shadow: 2px 2px black;
}

.modal-buttons:hover {
    box-shadow: 3px 3px 3px black;
    font-weight: bold;
}
