.hidden {
    display: none
}

.nav__bar {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 20px);
    grid-template-areas:
        "logo logo none none none none none none none button button button"
        "logo logo none none none none none none none button button button"
        "logo logo none none none none none none none button button button";
}

.nav__buttons {
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.nav__logo__img {
    width: 60px;
}
