.hidden {
    display: none
}

.nav__bar {
    border-bottom: 1px solid lightgrey;
    padding: 30px 10px;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 20px);
    grid-template-areas:
        "logo logo none none none none none none none button button button"
        "logo logo none none none none none none none button button button"
        "logo logo none none none none none none none button button button";
}

.nav__buttons {
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}

.nav__logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.nav__logo__img {
    width: 80px;
}

.nav__logo__text {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
    margin-top: 10px;
}

.fa-user-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.profile-dropdown {
    font-size: 12px;
}

.nav-button-div {
    display: flex;
}

.nav-button__spot {
    margin: 0px 5px;
    /* border: 2px solid black; */
}

.nav-button__spot__btn {
    border: none;
    background-color: white;
    color: rgb(37, 130, 151);
    font-size: 13px;
    width: 150px;
    /* border: 2px solid black; */
}

.nav-button__spot__btn:hover {
    font-weight: bold;
}
