.calendar-container{
    width: 100%;
    margin: 15px 0px;
    border: 1px solid var(--global-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.calendar-check-container{
    display: flex;
    width: 100%;
    font-size: 13px;
}

.calendar-checkin-div,
.calendar-checkout-div{
    display: flex;
    flex-direction: column;
    width: 46%;
    padding: 3% 3% 3% 3%;
    height: 96%;
    cursor: pointer;
}

.calendar-checkin-div{
    border-right: 1px solid var(--global-gray);
}

.calendar-checkout-text,
.calendar-checkin-text{
    width: 100%;
}

.booking-date-input{
    background-color: transparent;
    font-size: 18px;
    color: var(--global-gray-text);
}

/* Double calendar------------------------------------------------- */

.double-calendar-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--global-gray);
    border-radius: 10px;
    right: 0px;
    top: 100px;
    background-color: white;
}

.booking-date-input-display{
    background-color: transparent;
    font-size: 17px;
    color: var(--global-gray-text);
}

.double-calendar-div{
    display: flex;
}

.end-calendar,
.start-calendar{
    border: none;
}

.start-calendar{
    border-right: 1px solid var(--global-gray);
}

/* Date Range Picker -------------------------------------------- */

.date-range-component{
    width: 100%;
}

.react-daterange-picker__wrapper{
    border: none;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px 15px;
}

.react-daterange-picker__inputGroup{
    cursor: pointer;
    width: 200px;
    height: 50px;
    min-width: none;
}

.calendar-component{
    position: absolute;
    border: 1px solid var(--global-gray);
    border-radius: 5px;
    top: 5px;
}
